.venv
.env

db.sqlite3

Clinch_SAAS/__pycache__
apps/accounts/__pycache__

strt.text
project_details.txt
apps/api/__pycache__
apps/accounts/services/__pycache__
media


apps/system_admin/__pycache__
apps/system_admin/services/__pycache__
core/__pycache__
apps/configuration/__pycache__
apps/support/__pycache__
apps/billing/__pycache__
apps/billing/services/__pycache__
apps/crm_integration/__pycache__
apps/call_logs/__pycache__
apps/bookings/__pycache__
apps/notifications/__pycache__
apps/notifications/management/__pycache__
apps/notifications/management/commands/__pycache__
apps/notifications/services/__pycache__
apps/crm_integration/services/__pycache__


BILLING_API_QUICK_REFERENCE.md
BILLING_FIXES_SUMMARY.md
PROJECT_REVIEW.md


media/
staticfiles/
*.text
*.txt
*.md

extra_files
